<div class="row">
<!-- Inyeccion de la vista -->
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
<div class="page-header">
    <h1>Eliminar Cliente</h1></div>
    <!-- FORM -->
    
    <div class="form-group">
        <label>Cedula</label>
        <input type="text" name="ci" class="form-control" ng-model="ci">
        <button type="submit" class="btn btn-primary" ng-click="submitForm()">Buscar</button>
    </div>
    <div class="well"> <p>{{mensaje}}</p></div>
</div>
</div>
</div>