<!-- Inyeccion de la vista -->
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
<div class="page-header"><h1>Agregar mobilario</h1></div>
<div id="messages" class="well" ng-show="message">{{ message }}</div>
    <!-- FORM -->
    <form name="mobilarioForm" ng-submit="addMobilario()">
    <div class="form-group">
        <label>Codigo</label>
        <input type="text" name="cod" class="form-control" ng-model="mobilario.cod"
    </div>
    <div class="form-group">
        <label>Tipo de Mobiliario</label>
        <input type="text" name="tipo" class="form-control" ng-model="mobilario.tipo">
    </div>
    <div class="form-group">
        <label>Descripcion</label>
        <input type="text" name="desp" class="form-control" ng-model="mobilario.desp">
    </div>
    <div class="form-group">
        <label>Precio</label>
        <input type="number" step="0.01" name="precio" class="form-control" ng-model="mobilario.precio">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
</div>
