<div class="row">
<!-- Inyeccion de la vista -->
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
<div class="page-header">
    <h1>Consultar Habitacion</h1>
</div>
    <!-- FORM -->
    <div class="well" ng-show={{mostrar}}> <p>No existe este Mobiliario {{nro}}</p></div>
    <div class="form-group">
        <label>Cedula</label>
        <input type="number" name="cod" class="form-control" ng-model="cod">
        <button type="submit" class="btn btn-primary" ng-click="mById()">Buscar</button>
    </div>
    <div class="table-responsive">
    <table class="table">
        <tr>
            <th>{{ m.codigoMobiliaro }}</th>
            <th>{{ m.tipoMobiliario }}</th>
            <th>{{ m.descripcion }}</th>
            <th>{{ m.precio }}</th>
            <th>{{ m.ciCliente  }}</th>
            <th>{{ m.nroHabitacion }}</th>
        </tr>
    </table>
    </div>
</div>
</div>
</div>
