<div class="row">
<!-- Inyeccion de la vista -->
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
<div class="page-header">
    <h1>Eliminar Mobilario</h1></div>
    <!-- FORM -->

    <div class="form-group">
        <label>Codigo de Mobilario</label>
        <input type="text" name="cod" class="form-control" ng-model="cod">
        <button type="submit" class="btn btn-primary" ng-click="mDelById()">Buscar</button>
    </div>
    <div class="well"> <p>{{mensaje}}</p></div>
</div>
</div>
</div>
