<div class="row">
<!-- Inyeccion de la vista -->
<div class="container">
<div class="col-sm-8 col-sm-offset-2">
<div class="page-header">
    <h1>Consultar Habitacion</h1>
</div>
    <!-- FORM -->
    <div class="well" ng-show={{mostrar}}> <p>No existe esta Habitacion {{nro}}</p></div>
    <div class="form-group">
        <label>Cedula</label>
        <input type="number" name="nro" class="form-control" ng-model="nro">
        <button type="submit" class="btn btn-primary" ng-click="hById()">Buscar</button>
    </div>
    <div class="table-responsive">
    <table class="table">
        <tr>
            <th>{{ h.nro }}</th>
            <th>{{ h.tipoHabitacion }}</th>
            <th>{{ h.ciCliente }}</th>
        </tr>
    </table>
    </div>
</div>
</div>
</div>
